In [1]:
# The simplest recommender there is. Since It simply calculates a score for every movie based on a predefined metric and outputs a sorted list of movies based on that score
import pandas as pd
import numpy as np

# load the dataset into a pandas dataframe
df = pd.read_csv('../data/movies_metadata.csv')
# display first 5 movies
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_24524\2331957484.py:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [ ]:
# we shall use IMDB's weighted rating formula as our metric(numeric quantity based on which we rank movies)
# check online for formula but we will need;

#  - no of votes garnered by the movie (v) => vote_count , 
#  - min no of votes required for the movie to be in the chart (m) => we will use no of votes garnered by the 80th percentile
#  - mean rating of the movie (R) => vote_average 
#  - mean rating of all the movies in our DS (C)

In [2]:
# calculating value of m
# finf no of votes garnered by the 80th percentile movie
m = df['vote_count'].quantile(0.80)
m

50.0

In [3]:
# According to our result, only 20% of the movies have more than 50 vote therefore our m is 50
# another prerequisite is runtime. we only want movies with more than 45r min but less than 300 min

q_movies = df[(df['runtime'] >= 45) & (df['runtime'] <= 300)]

# only consider movies that have ganered more than m votes
q_movies = q_movies[q_movies['vote_count']>= m]

# check no of movies that made the cut
q_movies.shape

(8963, 24)

In [4]:
# final value to discover for our formula is C
C = df['vote_average'].mean()
C

5.618207215133889